/* border-box */
.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* search bar focus */
.search-container *:focus {
  background: #fbfbfb;
  color: #333333;
  outline: 0; }

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 51px;
  height: 0px; }

/* search icon button */
.search-icon-btn {
  background-color: rgba(9, 141, 128, 0.925);
  border: 3px solid rgba(9, 141, 128, 0.925);
  color: white;
  border-radius: 50px;
  display: table-cell;
  height: 58px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 55px;
  z-index: 2;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

/* search bar input container */
.search-input {
  position: absolute;
  left: 0;
  z-index: 1; }

/* search bar input */
.search-input input.search-bar {
  border: 3px solid #cccccc;
  height: 58px;
  padding: 0px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
  border-radius: 50px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 300px;
  border-radius: 50px; }

.video-item {
  display: flex !important;
  width: 180px;
  min-height: 180px;
  align-items: center !important;
  background: black;
  margin-left: 77rem;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer; }

.video-item .box {
  position: relative;
  width: 300px;
  height: 180px;
  background: #7d00c5;
  margin: 30px 10px 10px 20px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px; }

.video-item .box .imgBox .boxImage {
  max-width: 15rem;
  transition: transform 1s; }

.video-item .box:hover .imgBox img {
  transform: scale(1.2); }

.video-item .box .titleBox .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: black; }

.boxImage {
  display: flex !important;
  position: relative;
  max-width: 18rem;
  max-height: 18rem;
  border-style: solid;
  background-color: #000000;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-block;
  color: rgba(9, 141, 128, 0.925);
  box-shadow: 3px 3px 3px;
  font-size: 1.8rem;
  margin: 0px;
  overflow: hidden; }

.title {
  margin: 5px;
  padding: 0;
  font-size: 20px;
  color: #bad4ebea;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  max-height: 70px; }

.description {
  margin: 5px 5px 1px 5px;
  padding: 0;
  font-size: 15px;
  color: rgba(9, 141, 128, 0.925);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  max-height: 70px; }

body {
  margin: 0;
  padding: 0;
  background: #262626;
  font-family: sans-serif; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  60% {
    transform: rotate(180); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.vidlist {
  display: inline-block;
  max-width: 30rem;
  max-height: 30rem;
  min-height: 25rem;
  border-style: solid;
  background-color: #0045f3;
  opacity: 0.9;
  border-radius: 30px;
  color: #c6c6c6;
  box-shadow: 3px 3px 3px;
  font-size: 1.8rem;
  margin: 15px 15px 15px 15px;
  width: auto;
  height: auto;
  overflow: hidden; }
