//Variables
$color-primary: #8d43e2ee;
$color-primary-light: #bad4ebea;
$color-primary-dark: #2a0752c5;
$color-swizzle-main: #000f5c;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: black;

$color-grey-dark-2: rgb(62, 62, 62);

$color-secondary-dark: rgb(13, 1, 30);

$color-secondary-light: #9c78c5c5;
$color-secondary-dark: #28d828c5;

$color-tertiary-light: #d0ff00c5;
$color-tertiary-dark: #ffd364c5;

$color-grey-light: #f7f7f7;
$color-aqua-green: rgba(106, 252, 203, 0.884);
$color-aqua-green-2: rgba(11, 189, 171, 0.925);
$color-hot-pink: rgba(248, 2, 174, 0.925);
$color-hot-pink-2: rgb(255, 148, 223);
$color-electric-yellow: rgb(255, 238, 0);